<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>VueJs Tutorials</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <h1>Vue Sandbox</h1>

    <div id="helloVue">
        {{ message }}
    </div>



    <div id="app-2">
        <span v-bind:title="message">
            <p>Hover your mouse over me for a few seconds
                to see my dynamically bound title!</p>
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>


    <div id="app-4">
        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ul>
    </div>


    <div id="app-5"><span>
            <p>{{ message }}
                <button v-on:click="reverseMessage">Reverse Message</button></p>
        </span>
    </div>


    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>



    <div id="app-7">
        <ul>
            <!--
            Now we provide each todo-item with the todo object
            it's representing, so that its content can be dynamic.
            We also need to provide each component with a "key",
            which will be explained later.
          -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ul>
    </div>

    <div id="vue-app">
        <h2>Refs</h2>
        <input type="text" ref="input" />
        <button v-on:click="readRefs">Submit</button>
        <p>Your fav food: {{ output }}</p>
        <div ref="test"></div>
    </div>



    <script src="app.js"></script>
</body>

</html>