<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>VueJs Tutorials</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <h1>Vue Sandbox</h1>



    <div id="app-1">
        {{ message }}
    </div>




    <div id="app-2">
        <span v-bind:title="message">
            <p>Hover your mouse over me for a few seconds
                to see my dynamically bound title!</p>
        </span>
    </div>




    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>



    <div id="app-4">
        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ul>
    </div>




    <div id="app-5"><span>
            <p>{{ message }}
                <button v-on:click="reverseMessage">Reverse Message</button></p>
        </span>
    </div>




    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
        Why not try typing something in this box right here.
    </div>


    <!-- app 7 deleted -->


    <div id="app-8">
        <h2>Referencess</h2>
        <input type="text" ref="input" />
        <button v-on:click="readRefs">Submit</button>
        <p>Your favorite food is {{ output }}</p>
        <div ref="test"></div>
    </div>




    <div id="app-9" class="container">
        <h2>{{ title }}</h2>
        <ul>
            <li>{{ items[1] }}</li>
            <li>{{ items[0] }}</li>
            <li>{{ items[2] }}</li>
            <li>{{ items[3] }}</li>
            <li>{{ items[4] }}</li>
            <li>{{ items[5] }}</li>
        </ul>
    </div>



    <script src="app.js"></script>
</body>

</html>