/*----- General -----*/

body {
    background-color: #41b88c;
    font-size: larger;
    font-family: monospace;
    text-align: center;
    padding: 100px;  color: #34495e;
};

div {
    background: #fff;
    /* margin-bottom: 50px; */
    padding: 90px;
}

h1 {
    font-size: 2.4rem;
    font-weight: 800;
}
h2 {
    font-size: 1.6rem;
    white-space: nowrap;
    text-shadow: initial;
}
ul {
    width: 60%;
    list-style-type: none;
    margin: 0 auto;
    background: #34495e;
    padding: 20px;
    max-width: 500px; 
    -webkit-box-shadow: 15px 23px 12px -6px rgba(0,0,0,0.16);
    -moz-box-shadow: 15px 23px 12px -6px rgba(0,0,0,0.16);
    box-shadow: 15px 23px 12px -6px rgba(0,0,0,0.16);
  }
  ul li {
    font-family: sans-serif;
    font-style: italic;
    background: #cce5ff;
    margin: 5px;
}

button {
    padding: 14px 20px;
    background-color: #34495e;
    color: #fff;
    border: 2px solid #34495e;
    border-radius: 10px;
}


/*----- Apps -----*/

#app-1 {
    max-width: 700px;
    background: #fff;
    margin: 100px auto;
    padding: 20px;
}
#app-2 {
    margin: 100px, auto; 
}
#app-3 {
    margin: 100px, auto; 
}
#app-4 {
    margin: 100px, auto;
}
#app-6 {
    margin: 100px auto;
}
#app-9 {
    margin: 100px auto;
}
#app-6 p {
    font-weight: 800;
    font-size: 2em;
    background-color: #fff;
    background-size: inherit;
    max-width: 60%;
    margin: 15px auto;
}

/*----- media queries -----*/

@media only screen and (max-width: 780px) {
    /* For mobile phones: */
    h2 {
        font-size: 2.4rem;
    }
  }